body {
    font-family: monospace;
    background-color: #000;
    color: limegreen;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.6;
    padding: 10px;
    border: 1px solid limegreen;
    border-radius: 5px;
    background-color: #000;
    margin-top: 20px;
}